@font-face {
  font-family: "PT Sans";
  src: url(../fonts/PTSans.woff2) format("woff2"),
    url(../fonts/PTSans.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url(../fonts/PTSans-Bold.woff2) format("woff2"),
    url(../fonts/PTSans-Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
}

/* Variables */

:root {
  /*Text*/
  --basic-black: #000000;
  --basic-black-light: #333333;
  --basic-white: #ffffff;
  --basic-grey: #666666;

  /*Background*/
  --basic-blue-light: #81b3d2;
  --basic-white-grey: #eeeeee;
  --basic-brown: #766357;
  --basic-smoky-white: #f2f2f2;
  --basic-grey-aluminum: #ABABAB;

  /*Style Guide*/
  --basic-blue-hover: #669EC0;
  --basic-blue-active: #5496bd;
  --basic-brown-hover: #604E43;
  --basic-brown-active: #503E33;
  --basic-grey-hover: #ebebeb;
  --basic-grey-active: #bdbbbc;

  /*Box Shadow*/
  --box-shadow-black: rgba(0, 1, 1, 0.2);

  /* Border */
  --basic-grey-border: #e5e5e5;
  --basic-white-opacity: rgba(225, 225, 225, 0.3);
}

/* Global */
.page {
  width: 1280px;
  height: 100%;
  background-color: var(--basic-smoky-white);
  margin: 0 auto;
}

.page-body {
  width: 1200px;/*возможно min-width, но тогда изоюрожения сползают*/
  margin: inherit;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-white);
  box-shadow: 0px 5px 15px var(--box-shadow-black);

  min-height: 100%;
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: min-content 1fr min-content;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*Скрытие заголовков*/
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* Header */
.main-header {
  line-height: 26px;
  grid-area: header;
  min-height: 56px;
  margin-bottom: -40px;
}

.main-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.logo-sedona {
  order: 1;
  position: relative;
}

.list-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 140px;
}

.right-navigation {
  order: 2;
}

.nav-section {
  margin: 15px 0px;
}

.nav-section:hover {
  color: var(--basic-blue-light);
}

.nav-section:active {
  color: var(--basic-black);
  opacity: 30%;
}

/* Main */
.main-contents {
  grid-area: main;
}

.img-box {
  width: inherit;
  min-height: 509px;
  background: var(--basic-blue-light) url("../img/background-photo.jpg") no-repeat;
}

.img-welcome { /*Обратить внимание*/
  /* width: 188px;
  height: 45px; */
  position: relative;
  top: 75px;
}

.img-to-the {
  /* width: 256px;
  height: 29px; */
  position: relative;
  top: 65px;
}

.img-sedona {
  /* width: 457px;
  height: 213px; */
  position: relative;
  top: 95px;
}

.img-mask {
  /* width: 1200px;
  height: 57px; */
  position: relative;
  top: 106px;
}

/*Introduction Text*/
.introduction-big-text {
  font-size: 21px;
  line-height: 26px;
}

.margin-top {
  margin-top: 43px;
  padding-bottom: 10px;
}

.introduction-normal-text {
  font-weight: 400;
  line-height: 26px;

}

.margin-bootom {
  margin-bottom: 51px;
}

/* Features City of Sedona */
.features ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.background-blue {
  background-color: var(--basic-blue-light);
  color: var(--basic-white);
}

.background-grey {
  background-color: var(--basic-white-grey);
}

.list-item-container {
  display: grid;
  grid-template-areas: "info-text img";
  grid-template-columns: 1fr 2fr;
}

.list-item-container-reverse {
  display: grid;
  grid-template-areas: "img info-text";
  grid-template-columns: 2fr 1fr;
}

.features-subtitle {
  font-size: 21px;
  line-height: 21px;
  grid-area: info-text;
  padding-top: 20px;
  min-width: 122px;
}

.features-text {
  font-weight: 400;
  grid-area: info-text;
  padding-top: 150px;
}

.number {
  padding-top: 100px;
}

.features-img {
  grid-area: img;
}

.list-item-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.icon-box {
  margin-top: 60px;
}

.secondary-subtitle {
  padding-top: 20px;
}

.secondary-text {
  padding-top: 25px;
  margin-bottom: 80px;
}

.secondarys-subtitle {
  margin-top: 47px;
  padding-top: 10px;
}

.secondarys-numbers {
  padding-top: 10px;
}

.secondarys-text {
  margin-bottom: 50px;
  padding-top: 10px;
}

/* Hotel Search */
.big-text {
  font-size: 30px;
  line-height: 24px;
}

.normal-text {
  font-weight: 400;
  line-height: 24px;
}

.btn-search-hotel {
  border: none;
  color: var(--basic-white);
  background-color: var(--basic-brown);
  text-transform: inherit;
  width: 568px;
  min-height: 86px;
}

.btn-search-hotel:hover {
  background-color: var(--basic-brown-hover);
}

.btn-search-hotel:active {
  background-color: var(--basic-brown-active);
}

.text-opacity:active {
  opacity: 30%;
}

/* Window Hotel Search */
.form-hotel-search {
  width: 568px;
  min-height: 395px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--basic-white);
}

.user-grownup {
  align-self: flex-start;
  position: relative;
  left: 50px;
}

.user-children {
  align-self: flex-end;
  position: relative;
  top: -70px;
  right: 25px;
}

.user {
  font-weight: inherit;
  border: none;
  background-color: var(--basic-smoky-white);
  text-transform: inherit;
}

.user:hover {
  background-color: var(--basic-grey-hover);
}

.user:focus {
  background-color: var(--basic-white);
  border: 2px solid var(--basic-grey-border);
}

.arrival-date, .departure-date {
  width: 346px;
  min-height: 38px;
  margin-left: 30px;
}

.grownup, .children {
  width: 114px;
  min-height: 38px;
  text-align: center;
  margin-left: 30px;
}

.logo-calendar {
  position: relative;
  top: 5px;
  left: -35px;
}

.logo-calendar:hover {
  fill: var(--basic-black);
}

.logo-calendar:active {
  fill: var(--basic-blue-light);
}

.add {
  position: relative;
  right: 45px;
}

.add:hover {
  fill: var(--basic-black);
}

.add:active {
  fill: var(--basic-blue-light);
}

.reduse {
  position: relative;
  right: 105px;
  bottom: 4px;
}

.reduse:hover {
  fill: var(--basic-black);
}

.reduse:active {
  fill: var(--basic-blue-light);
}

.btn-search {
  color: var(--basic-white);
  background-color: var(--basic-blue-light);
  border: none;
  text-transform: inherit;
  width: 458px;
  min-height: 58px;
}

.btn-search:hover {
  background-color: var(--basic-blue-hover);
}

.btn-search:active {
  background-color: var(--basic-blue-active);
}

/* Modal Map */
.modal-map iframe {
  border: 0;
}

/* Main Footer */
.main-footer {
  grid-area: footer;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.footer-contacts {
  margin: auto
}

.text-contact {
  margin-bottom: 9px;
}

.social-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  margin: 36px 0;
  gap: 6px;
}

.item-social-link {
  display: flex;
  background-color: var(--basic-blue-light);
  width: 46px;
  height: 48px;
}

.item-social-link:hover {
  background-color: var(--basic-blue-hover);
}

.item-social-link:active {
  background-color: var(--basic-blue-active);
}

.social {
  margin: auto;
}

.footer-copyright {
  margin: auto;
}

.logo-htmlacademy {
  position: relative;
  top: 10px;
  margin-left: 15px;
}

.logo-htmlacademy-effect:hover {
  fill: var(--basic-blue-light);
}

.logo-htmlacademy-effect:active {
  fill: var(--basic-grey-active);
}

.introduction-big-text {
  padding: 5px;
}

/* Catalog.html */


/* Header */
.active {
  color: var(--basic-brown);
}

/* Main Page Hotels */
.page-hotels {
  height: 100%;
  grid-area: main;
}

.filters {
  width: inherit;
  height: 217px; /*min-height*/
  background: var(--basic-black-light) url("../img/background-catalog.png") no-repeat;
  margin-top: 20px;
}

.filters-conveniences ul, .filters-hotels ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.forms-filters-hotels {
  min-height: 217px;
  display: grid;
  grid-template-areas: "filters-conveniences filters-hotels filters-cost";
}

.filters-conveniences {
  grid-area: filters-conveniences;
  border: none;
  margin: 0;
  padding: 0;
  margin-top: 27px;
  margin-left: 72px;
  text-align: left;
}

.list-options {
  padding-bottom: 25px;
}

.list-options label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
  left: 40px;
}

.filter-checkbox + label::before {
  content: "";
  position: absolute;
  left: -40px;
  width: 20px;
  height: 20px;
  border: 2px solid var(--basic-white);
  border-radius: 5px;
}

.filter-checkbox:checked + label::after {
  content: "";
  position: absolute;
  width: 22px;
  height: 17px;
  left: -35px;
  background: url(../img/icon/check-mark.svg);
}

.filters-hotels {
  grid-area: filters-hotels;
  border: none;
  margin: 0;
  padding: 0;
  margin-right: 80px;
  margin-top: 27px;
  text-align: left;
}

.options {
  font-weight: 400;
  color: var(--basic-white);
}

.filters-cost {
  border: none;
  margin: 0;
  padding: 0;
  grid-area: filters-cost;
  margin-top: 27px;
}

.title {
  font-size: 16px;
  color: var(--basic-white);
  padding-bottom: 25px;
}

.title-cost {
  font-size: 16px;
  color: var(--basic-white);
  padding-bottom: 10px;
  padding-right: 160px;
}

.cost {
  font-size: inherit;
  line-height: inherit;
  font-weight: 400;
  border: 2px solid var(--basic-white);
  color: var(--basic-white);
  background-color: rgba(var(--basic-black) 0.1);
  margin-bottom: 20px;
  text-align: center;
  border-radius: 2px;
  padding: 5px;
}

.max-cost {
  position: relative;
  left: -5px;
}

.range-controls {
  width: 316px;
  position: relative;
  left: 90px;
}

.scale {
  width: 316px;
  height: 2px;
  background: var(--basic-white-opacity);
}

.bar {
  width: 80%;
  height: 2px;
  background: var(--basic-white);
}

.toggle {
  position: absolute;
  top: -10px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background: var(--basic-grey-aluminum);
  border-radius: 50%;
  box-shadow: 0 1.5px 0 0 var(--basic-grey-aluminum);
}

.toggle-max {
  left: 248px;
}

.filters-btn {
  width: 137px;
  height: 36px;
  font-weight: 400;
  text-transform: inherit;
  border: 2px solid var(--basic-white);
  color: var(--basic-white);
  grid-area: filters-cost;
  grid-row: 3 / -1;
  margin-top: -90px;
  margin-bottom: 32px;
  justify-self: center;
  background-color: rgba(var(--basic-black) 0.1);
  position: relative;
  top: 30px;
}

.filters-btn:hover {
  color: var(--basic-black);
  background-color: var(--basic-white);
}
/* Sorting */
.sorting {
  text-align: left;
  margin-top: 30px;
  padding-left: 73px;
  border-bottom: 1px solid var(--basic-grey-border);
}

.sorting-text {
  margin-left: 46px;
  margin-right: 40px;
}

.sorting-by-type {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  display: inline-flex;
}

.list-type {
  opacity: 30%;
  border-bottom: 1px dotted var(--basic-blue-light);
  margin-right: 30px;
}

.selected {
  color: var(--basic-blue-light);
  opacity: 100%;
  border: none;
}

.list-type:hover {
  color: var(--basic-blue-light);
  border-bottom: 1px dotted var(--basic-blue-light);
}

.list-type:active {
  color: var(--basic-black);
  border: none;
  opacity: 100%;
}

.sorting-link-icons {
  text-align: right;
  margin-top: -35px;
  margin-right: 73px;
  padding: 12px;
}

.sorting-link-icon {
  padding-left: 12px;
}

.icon-dir:hover {
  fill: var(--basic-black);
}

.icon-dir:active {
  fill: var(--basic-blue-light);
}

.down-active {
  fill: var(--basic-blue-light);
}

.sorting ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Hotels City Sedona*/
.list-hotels {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

.choosing-hotel {
  display: flex;
  border-bottom: 1px solid var(--basic-grey-border);
}

.link-hotels {
  display: flex;
  align-self: flex-start;
  width: 470px;
}

.img-hotels {
  margin: 30px 30px 30px 73px;
}

.name-hotel-sedona {
  margin-top: 23px;
  order: 1;
}

.name-hotel-sedona:hover {
  color: var(--basic-blue-light);
}

.name-hotel-sedona:active {
  color: var(--basic-black);
  opacity: 30%;
}

.link-btn-detailed {
  background-color: var(--basic-blue-light);
  color: var(--basic-white);
  align-self: flex-end;
  margin-right: 6px;
  width: 110px;
  position: relative;
  right: 450px;
  top: -40px;
  padding: 5px;
}

.link-btn-detailed:hover {
  background-color: var(--basic-blue-hover);
}

.link-btn-detailed:active {
  background-color: var(--basic-blue-active);
}

.active-opacity:active {
  opacity: 30%;
}

.link-btn-book {
  background-color: var(--basic-brown);
  color: var(--basic-white);
  align-self: flex-end;
  width: 142px;
  position: relative;
  right: 450px;
  top: -40px;
  padding: 5px;
}

.link-btn-book:hover {
  background-color: var(--basic-brown-hover);
}

.link-btn-book:active {
  background-color: var(--basic-brown-active);
}

.price-hotel {
  font-weight: 400;
  color: var(--basic-black-light);
  align-self: center;
  margin-right: 9px;
  width: 100px;
  text-align: left;
  position: relative;
  right: 230px;
  top: -10px;
}

.rating {
  font-weight: 400;
  background-color: var(--basic-smoky-white);
  color: var(--basic-grey);
  align-self: flex-end;
  width: 110px;
  position: relative;
  top: -40px;
  left: 80px;
  padding: 5px;
}

.img-stars {
 margin-top: 30px;
 align-items: flex-start;
 min-width: 90px;
}

/* Blank Text */

.blanc-text {
  margin: auto;
}
