@font-face {
  font-family: "PT Sans";
  src: url(../fonts/PTSans.woff2) format(woff2),
    url(../fonts/PTSans.woff) format(woff);
  font-family: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url(../fonts/PTSans-Bold.woff2) format(woff2),
    url(../fonts/PTSans-Bold.woff) format(woff);
  font-family: 700;
  font-style: normal;
}

/* Variables */

:root {
  /*Text*/
  --basic-black: #000000;
  --basic-black-light: #333333;
  --basic-white: #ffffff;
  --basic-grey: #666666;

  /*Background*/
  --basic-blue-light: #81b3d2;
  --basic-white-grey: #eeeeee;
  --basic-brown: #766357;
  --basic-smoky-white: #f2f2f2;

  /*Style Guide*/
  --basic-blue-hover: #669EC0;
  --basic-blue-active: #5496bd;
  --basic-brown-hover: #604E43;
  --basic-brown-active: #503E33;
  --basic-grey-hover: #ebebeb;
  --basic-grey-active: #bdbbbc;

  /*Box Shadow*/
  --box-shadow-black: rgba(0, 1, 1, 0.2);

  /* Border */
  --basic-grey-border: #e5e5e5;
}

/* Global */
.page {
  width: 1280px;
  height: 100%;
  background-color: var(--basic-smoky-white);
  margin: 0 auto;
}

.page-body {
  width: 1200px;
  margin: inherit;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-white);
  box-shadow: 0px 5px 15px var(--box-shadow-black);

  min-height: 100%;
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: min-content 1fr min-content;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*Скрытие заголовков*/
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* Header */
.main-header {
  line-height: 26px;
  grid-area: header;
  min-height: 70px;
}

.main-navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-section:hover {
  color: var(--basic-blue-light);
}

.nav-section:active {
  color: var(--basic-black);
  opacity: 30%;
}

/* Main */
.main-contents {
  grid-area: main;
}

.img-box {
  width: inherit;
  height: 509px;
  background: var(--basic-blue-light) url("../img/background-photo.jpg") no-repeat;
}

.img-welcome {
  position: relative;
  top: 75px;
}

.img-to-the {
  position: relative;
  top: 65px;
}

.img-sedona {
  position: relative;
  top: 95px;
}

.img-mask {
  position: relative;
  top: 105px
}

/*Introduction Text*/
.introduction-big-text {
  font-size: 21px;
  line-height: 26px;
  text-transform: inherit;

}

.margin-top {
  margin-top: 43px;
  padding-bottom: 10px;
}

.introduction-normal-text {
  font-weight: 400;
  line-height: 26px;

}

.margin-bootom {
  margin-bottom: 51px;
}

/* Features City of Sedona */
.features ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.background-blue {
  background-color: var(--basic-blue-light);
  color: var(--basic-white);
}

.background-grey {
  background-color: var(--basic-white-grey);
}

.features-subtitle {
  font-size: 21px;
  line-height: 21px;
  grid-area: info-text;
  padding-top: 20px;
  min-width: 122px;
}

.features-text {
  font-weight: 400;
  grid-area: info-text;
  padding-top: 150px;
}

.list-item-container {
  display: grid;
  grid-template-areas: "info-text img";
  grid-template-columns: 1fr 2fr;
}

.number {
  padding-top: 100px;
}

.features-img {
  grid-area: img;
}

.list-item-box {
  display: grid;
  grid-template-areas: "left center right";
  grid-template-columns: 1fr 1fr 1fr;
}

.icon-box {
  margin-top: 60px;
}

.secondary-subtitle {
  padding-top: 20px;
}

.secondary-text {
  padding-top: 25px;
  margin-bottom: 80px;
}

.secondarys-subtitle {
  margin-top: 47px;
  padding-top: 10px;
}

.secondarys-numbers {
  padding-top: 10px;
}

.secondarys-text {
  margin-bottom: 50px;
  padding-top: 10px;
}

/* Hotel Search */
.big-text {
  font-size: 30px;
  line-height: 24px;
}

.normal-text {
  font-weight: 400;
  line-height: 24px;
}

.btn-search {
  border: none;
  color: var(--basic-white);
  background-color: var(--basic-brown);
  text-transform: inherit;
}

.btn-search:hover {
  background-color: var(--basic-brown-hover);
}

.btn-search:active {
  background-color: var(--basic-brown-active);
}

.text-opacity:active {
  opacity: 30%;
}

/* Window Hotel Search */
.user {
  border: none;
  background-color: var(--basic-smoky-white);
  text-transform: inherit;
}

.user:hover {
  background-color: var(--basic-grey-hover);
}

.user:focus {
  /*как-то надо убрать борт*/
  background-color: var(--basic-white);
  border: 2px solid var(--basic-grey-border);
}

.logo-calendar:hover {
  fill: var(--basic-black);
}

.logo-calendar:active {
  fill: var(--basic-blue-light);
}

.add-reduse:hover {
  fill: var(--basic-black);
}

.add-reduse:active {
  fill: var(--basic-blue-light);
}

.link-btn-search {
  color: var(--basic-white);
  background-color: var(--basic-blue-light);
}

.link-btn-search:hover {
  background-color: var(--basic-blue-hover);
}

.link-btn-search:active {
  background-color: var(--basic-blue-active);
}

/* Modal Map */


/* Main Footer */
.main-footer {
  grid-area: footer;
}

.footer-social ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.social-links li {/*переделать*/
  display: inline-block;
  background-color: var(--basic-blue-light);
  width: 46px;
  height: 48px;
}

.logo-htmlacademy:hover {
  fill: var(--basic-blue-light);
}

.logo-htmlacademy:active {
  fill: var(--basic-grey-active);
}

.introduction-big-text {
  padding: 5px;
}

.footer-copyright {
  margin-top: 30px;
}

.main-footer {
  display: grid;
  grid-template-areas: "contacts social copyright";
  grid-template-columns: 1fr 1fr 1fr;
}

/* Catalog.html */


/* Header */
.active {
  color: var(--basic-brown);
}

/* Main Page Hotels */
.page-hotels {
  height: 100%;
  grid-area: main;
}

.filters {
  width: inherit;
  height: 217px;
  background: var(--basic-black-light) url("../img/background-catalog.png") no-repeat;
}

.filters-conveniences ul, .filters-hotels ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.forms-filters-hotels {
  min-height: 217px;
  display: grid;
  grid-template-areas: "filters-conveniences filters-hotels filters-cost";
  grid-template-columns: 1fr 1fr 2fr;
}

.filters-conveniences {
  border: none;
  margin-top: 27px;
  margin-left: 72px;
}

.list-options {
  padding-bottom: 25px;
}

.filters-hotels {
  border: none;
  margin-right: 80px;
  margin-top: 27px;
}

.filters-cost {
  border: none;
  grid-area: filters-cost;
  margin-top: 27px;
}

.title {
  font-size: 16px;
  color: var(--basic-white);
  padding-bottom: 25px;
}

.title-cost {
  font-size: 16px;
  color: var(--basic-white);
  padding-bottom: 10px;
  padding-right: 160px;
}

.options {
  font-weight: 400;
  color: var(--basic-white);
}

.cost {
  font-size: inherit;
  line-height: inherit;
  font-weight: 400;
  border: 2px solid var(--basic-white);
  color: var(--basic-white);
  background-color: rgba(var(--basic-black) 0.1);
  margin-bottom: 20px;
}

.filters-btn {
  width: 137px;
  height: 36px;
  font-weight: 400;
  text-transform: inherit;
  border: 2px solid var(--basic-white);
  color: var(--basic-white);
  grid-area: filters-cost;
  grid-row: 3 / -1;
  margin-top: -90px;
  margin-bottom: 32px;
  justify-self: center;
  background-color: rgba(var(--basic-black) 0.1);
}

.filters-btn:hover {
  color: var(--basic-black);
  background-color: var(--basic-white);
}
/* Sorting */
.sorting {
  text-align: left;
  margin-top: 30px;
  margin-left: 73px;
  border-bottom: 1px solid var(--basic-grey-border);/*Обратьть внимание на декоративную линию*/
}

.sorting-text {
  margin-left: 46px;
  margin-right: 40px;
}

.sorting-by-type {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  display: inline-flex;
}

.list-type {
  opacity: 30%;
  border-bottom: 1px dotted var(--basic-blue-light);
  margin-right: 30px;
}

.selected {
  color: var(--basic-blue-light);
  opacity: 100%;
  border: none;
}

.list-type:hover {
  color: var(--basic-blue-light);
  border-bottom: 1px dotted var(--basic-blue-light);
}

.list-type:active {
  color: var(--basic-black);
  border: none;
  opacity: 100%;
}

.sorting-link-icons {
  text-align: right;
  margin-top: -35px;
  margin-right: 73px;
  padding: 12px;
}

.sorting-link-icon {
  padding-left: 12px;
}

.icon-dir:hover {
  fill: var(--basic-black);
}

.icon-dir:active {
  fill: var(--basic-blue-light);
}

.down-active {
  fill: var(--basic-blue-light);
}

.sorting ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Hotels City Sedona*/
.list-hotels {
  display: grid;
  grid-template-areas:
    "hotel-amara"
    "hotel-desert"
    "hotel-diablo";
  grid-template-rows: 1fr 1fr 1fr;
}

.hotels-city-sedona ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.choosing-hotel {/*gid vs flex вот в чем вопрос*/
  justify-self: left;
  display: flexbox;
  border-bottom: 1px solid var(--basic-grey-border);
}

.img-hotels {
  display: flex;
}

.name-hotel-sedona {
  order: 1;
}

.name-hotel-sedona:hover {
  color: var(--basic-blue-light);
}

.name-hotel-sedona:active {
  color: var(--basic-black);
  opacity: 30%;
}

.link-btn-detailed {
  background-color: var(--basic-blue-light);
  color: var(--basic-white);
}

.link-btn-detailed:hover {
  background-color: var(--basic-blue-hover);
}

.link-btn-detailed:active {
  background-color: var(--basic-blue-active);
}

.active-opacity:active {
  opacity: 30%;
}

.link-btn-book {
  background-color: var(--basic-brown);
  color: var(--basic-white);
}

.link-btn-book:hover {
  background-color: var(--basic-brown-hover);
}

.link-btn-book:active {
  background-color: var(--basic-brown-active);
}

.price-hotel {
  font-weight: 400;
  color: var(--basic-black-light);
}

.rating {
  font-weight: 400;
  background-color: var(--basic-smoky-white);
  color: var(--basic-grey);
}
